body{
  /* 文字色を白に */
  color: white;
  /* 背景色を黒に */
  background-color: black;
}

/* id="clock_frame"のdiv要素 */
div#clock_frame{
  /* 横幅を親要素である、bodyの100%と同じにする */
  width: 100%;
}

/* spanのデフォルト */
span{
  /* 本来はインライン要素であるspanをブロック要素として扱う */
  display: block;
  /* 親要素のdivの内部で右寄せに配置させる */
  float: right;
  /* 横幅を親のdivの85%にする */
  width: 85%;
  /* フォントをグーグルのものにする() */
}

/* id = "clock_date" のspan要素*/
span#clock_date{
  /* この要素のなかにおけるデキストを右詰する。デフォルト値のtext-align:leftを上書き */
  text-align: right;
  /* フォントの大きさを親要素であるdivで設定されたサイズの0.5倍 */
  font-size: 0.5em;
  /* 右のパディングの幅を親要素であるdivで設定されたフォントサイズの0.5倍にする */
}

/* id = "clock_time" のspan要素*/
span#clock_time{
  /* フォントの大きさを親である、deivで設定されたサイズの2倍にする */
  font-size: 2em;
}